<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pokedex</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="header">


        <div class="pokedex">
        <a href="/"><h1>Pokédex</h1></a>    

            <div class="list">
                <a href="/quiz">Quiz</a>
                <a href="/search">Liste</a>
                <a href="/type">Types</a>
                
            </div>

        </div>


    </header>